<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>./unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="DB_USER" value="root"/>
        <const name="DB_PSWD" value="platon68"/>
        <const name="DB_NAME" value="testing123123123132"/>
    </php>
</phpunit>
